USE [master]
GO
/****** Objeto: Database [BD_64PR] Fecha de script: 28/9/2026 10:07:28 ******/
CREATE DATABASE [BD_64PR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_64PR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_64PR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_64PR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_64PR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_64PR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_64PR]
GO
/****** Objeto: Table [dbo].[Categoria_64PR] Fecha de script: 28/9/2026 10:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_64PR](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[TarifaDiaria] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Categoria_64PR] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ClienteJP86] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteJP86](
	[DNI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_ClienteJP86] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ContratoJP86] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratoJP86](
	[NumeroContrato] [int] IDENTITY(1,1) NOT NULL,
	[DNI_Cliente] [nvarchar](20) NOT NULL,
	[Patente_Vehiculo] [nvarchar](10) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[TarifaDiaria] [decimal](10, 2) NOT NULL,
	[CargosAdicionales] [bit] NOT NULL,
	[ImporteTotal] [decimal](10, 2) NOT NULL,
	[KilometrajeEntrega] [int] NOT NULL,
	[KilometrajeRetorno] [int] NULL,
	[EstadoUnidadDevolucion] [varchar](20) NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ContratoJP86] PRIMARY KEY CLUSTERED 
(
	[NumeroContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DV_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV_64PR](
	[Tabla] [nvarchar](100) NOT NULL,
	[DV] [bigint] NOT NULL,
 CONSTRAINT [PK_DV_64PR] PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DVH_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVH_64PR](
	[Tabla] [nvarchar](100) NOT NULL,
	[IdFila] [nvarchar](100) NOT NULL,
	[DVH] [bigint] NOT NULL,
 CONSTRAINT [PK_DVH_64PR] PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC,
	[IdFila] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evento_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_64PR](
	[Id_evento] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Id_modulo] [int] NOT NULL,
	[Id_Tipo] [int] NOT NULL,
	[criticidad] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FacturaJP86] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaJP86](
	[NumeroFactura] [int] IDENTITY(1,1) NOT NULL,
	[NumeroContrato] [int] NOT NULL,
	[FechaFactura] [datetime] NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[MontoFactura] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_FacturaJP86] PRIMARY KEY CLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_64PR](
	[ID_Familia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia_N_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_N_64PR](
	[ID_FamiliaPadre] [int] NOT NULL,
	[ID_FamiliaHija] [int] NOT NULL,
 CONSTRAINT [PK_Familia_N_64PR] PRIMARY KEY CLUSTERED 
(
	[ID_FamiliaPadre] ASC,
	[ID_FamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Modulo_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo_64PR](
	[Id_modulo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Patente_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_64PR](
	[ID_Patente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PatenteFamilia_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatenteFamilia_64PR](
	[ID_Familia] [int] NOT NULL,
	[ID_Patente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC,
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ReporteJP86] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteJP86](
	[NumeroReporte] [int] IDENTITY(1,1) NOT NULL,
	[Patente_Vehiculo] [nvarchar](10) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[DescripcionProblema] [nvarchar](500) NOT NULL,
	[Fuente] [varchar](20) NOT NULL,
	[Criticidad] [varchar](10) NULL,
	[ModalidadReparacion] [varchar](10) NULL,
	[DescripcionCierre] [nvarchar](500) NULL,
	[FechaAcreditacion] [datetime] NULL,
	[DNI_ResponsableCierre] [nvarchar](20) NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ReporteJP86] PRIMARY KEY CLUSTERED 
(
	[NumeroReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_64PR](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolFamilia_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia_64PR](
	[ID_Rol] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPatente_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPatente_64PR](
	[ID_Rol] [int] NOT NULL,
	[ID_Patente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC,
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoEvento_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento_64PR](
	[Id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIO_64PR] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_64PR](
	[DNI] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Contraseña] [varbinary](48) NOT NULL,
	[Rol] [int] NULL,
	[Email] [nvarchar](256) NULL,
	[Bloqueo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Intentos] [int] NOT NULL,
	[PrimeraVez] [bit] NOT NULL,
	[Idioma] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vehiculo_BitacoraCambios] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo_BitacoraCambios](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[Patente] [nvarchar](10) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[Kilometraje] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](0) NOT NULL,
	[Act] [bit] NOT NULL,
 CONSTRAINT [PK_Vehiculo_BitacoraCambios] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VehiculoJP86] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiculoJP86](
	[Patente] [nvarchar](10) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[Kilometraje] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_VehiculoJP86] PRIMARY KEY CLUSTERED 
(
	[Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria_64PR] ON 

INSERT [dbo].[Categoria_64PR] ([ID_Categoria], [Nombre], [Descripcion], [TarifaDiaria], [Activo]) VALUES (1, N'SUV', N'Camionetas cerradas', CAST(25000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Categoria_64PR] ([ID_Categoria], [Nombre], [Descripcion], [TarifaDiaria], [Activo]) VALUES (2, N'Hatchback', N'Vehiculos pequeños y agiles', CAST(19000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Categoria_64PR] ([ID_Categoria], [Nombre], [Descripcion], [TarifaDiaria], [Activo]) VALUES (3, N'Cabrio', N'Descapotable', CAST(25000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Categoria_64PR] OFF
GO
INSERT [dbo].[ClienteJP86] ([DNI], [Nombre], [Apellido], [Telefono], [Activo]) VALUES (N'28555444', N'Maria', N'Gomez', N'1123456780', 1)
INSERT [dbo].[ClienteJP86] ([DNI], [Nombre], [Apellido], [Telefono], [Activo]) VALUES (N'30111222', N'Juan', N'Perez', N'01145551234', 1)
INSERT [dbo].[ClienteJP86] ([DNI], [Nombre], [Apellido], [Telefono], [Activo]) VALUES (N'35222111', N'Luca', N'Fernandez', N'91147778899', 1)
GO
SET IDENTITY_INSERT [dbo].[ContratoJP86] ON 

INSERT [dbo].[ContratoJP86] ([NumeroContrato], [DNI_Cliente], [Patente_Vehiculo], [FechaInicio], [FechaFin], [TarifaDiaria], [CargosAdicionales], [ImporteTotal], [KilometrajeEntrega], [KilometrajeRetorno], [EstadoUnidadDevolucion], [Estado]) VALUES (1, N'46255186', N'AB123CD', CAST(N'2026-09-09' AS Date), CAST(N'2026-09-10' AS Date), CAST(55000.00 AS Decimal(10, 2)), 1, CAST(60500.00 AS Decimal(10, 2)), 5700, 5800, N'SIN_NOVEDADES', N'CERRADO')
INSERT [dbo].[ContratoJP86] ([NumeroContrato], [DNI_Cliente], [Patente_Vehiculo], [FechaInicio], [FechaFin], [TarifaDiaria], [CargosAdicionales], [ImporteTotal], [KilometrajeEntrega], [KilometrajeRetorno], [EstadoUnidadDevolucion], [Estado]) VALUES (2, N'46255186', N'AB123CD', CAST(N'2026-09-09' AS Date), CAST(N'2026-09-16' AS Date), CAST(55000.00 AS Decimal(10, 2)), 0, CAST(385000.00 AS Decimal(10, 2)), 5700, 5987, N'CON_OBSERVACIONES', N'CERRADO')
INSERT [dbo].[ContratoJP86] ([NumeroContrato], [DNI_Cliente], [Patente_Vehiculo], [FechaInicio], [FechaFin], [TarifaDiaria], [CargosAdicionales], [ImporteTotal], [KilometrajeEntrega], [KilometrajeRetorno], [EstadoUnidadDevolucion], [Estado]) VALUES (3, N'28555444', N'ABC123', CAST(N'2026-09-09' AS Date), CAST(N'2026-09-16' AS Date), CAST(19000.00 AS Decimal(10, 2)), 0, CAST(133000.00 AS Decimal(10, 2)), 12000, 13000, N'SIN_NOVEDADES', N'CERRADO')
SET IDENTITY_INSERT [dbo].[ContratoJP86] OFF
GO
INSERT [dbo].[DV_64PR] ([Tabla], [DV]) VALUES (N'Categoria_64PR', 26613)
INSERT [dbo].[DV_64PR] ([Tabla], [DV]) VALUES (N'ClienteJP86', 18038)
INSERT [dbo].[DV_64PR] ([Tabla], [DV]) VALUES (N'ContratoJP86', 132653)
GO
INSERT [dbo].[DVH_64PR] ([Tabla], [IdFila], [DVH]) VALUES (N'Categoria_64PR', N'1', 3003)
INSERT [dbo].[DVH_64PR] ([Tabla], [IdFila], [DVH]) VALUES (N'Categoria_64PR', N'2', 4679)
INSERT [dbo].[DVH_64PR] ([Tabla], [IdFila], [DVH]) VALUES (N'Categoria_64PR', N'3', 2669)
GO
SET IDENTITY_INSERT [dbo].[Evento_64PR] ON 

INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (935, N'admin', CAST(N'2026-09-06' AS Date), CAST(N'00:49:26.0033333' AS Time), 1, 1, 5)
INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (936, N'admin', CAST(N'2026-09-06' AS Date), CAST(N'00:49:32.0900000' AS Time), 1, 5, 5)
INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (937, N'admin', CAST(N'2026-09-06' AS Date), CAST(N'00:49:36.1300000' AS Time), 1, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[Evento_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[FacturaJP86] ON 

INSERT [dbo].[FacturaJP86] ([NumeroFactura], [NumeroContrato], [FechaFactura], [MetodoPago], [MontoFactura]) VALUES (1, 1, CAST(N'2026-09-09T14:25:38.837' AS DateTime), N'TARJETA', CAST(60500.00 AS Decimal(10, 2)))
INSERT [dbo].[FacturaJP86] ([NumeroFactura], [NumeroContrato], [FechaFactura], [MetodoPago], [MontoFactura]) VALUES (2, 2, CAST(N'2026-09-09T14:29:00.503' AS DateTime), N'TRANSFERENCIA', CAST(385000.00 AS Decimal(10, 2)))
INSERT [dbo].[FacturaJP86] ([NumeroFactura], [NumeroContrato], [FechaFactura], [MetodoPago], [MontoFactura]) VALUES (3, 3, CAST(N'2026-09-09T14:58:54.980' AS DateTime), N'EFECTIVO', CAST(133000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[FacturaJP86] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo_64PR] ON 

INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (8, N'Gestion de alquileres')
INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (5, N'Gestion de categorias')
INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (7, N'Gestion de clientes')
SET IDENTITY_INSERT [dbo].[Modulo_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[Patente_64PR] ON 

INSERT [dbo].[Patente_64PR] ([ID_Patente], [Nombre]) VALUES (1, N'Crear usuario')
INSERT [dbo].[Patente_64PR] ([ID_Patente], [Nombre]) VALUES (2, N'Desbloquear usuario')
INSERT [dbo].[Patente_64PR] ([ID_Patente], [Nombre]) VALUES (3, N'Modificar usuario')
SET IDENTITY_INSERT [dbo].[Patente_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[ReporteJP86] ON 

INSERT [dbo].[ReporteJP86] ([NumeroReporte], [Patente_Vehiculo], [FechaHora], [DescripcionProblema], [Fuente], [Criticidad], [ModalidadReparacion], [DescripcionCierre], [FechaAcreditacion], [DNI_ResponsableCierre], [Estado]) VALUES (1, N'AB123CD', CAST(N'2026-09-10T10:53:13.943' AS DateTime), N'le patea el embrague', N'CLIENTE', N'MEDIA', N'INTERNA', N'cambio de embrague completo', CAST(N'2026-09-10T10:54:35.530' AS DateTime), N'00000000', N'ACREDITADO')
INSERT [dbo].[ReporteJP86] ([NumeroReporte], [Patente_Vehiculo], [FechaHora], [DescripcionProblema], [Fuente], [Criticidad], [ModalidadReparacion], [DescripcionCierre], [FechaAcreditacion], [DNI_ResponsableCierre], [Estado]) VALUES (2, N'MMM871', CAST(N'2026-09-10T14:15:02.880' AS DateTime), N'Carter Partido', N'INSPECCION_INTERNA', N'BAJA', N'INTERNA', N'Se cambio el carter', CAST(N'2026-09-10T14:16:12.227' AS DateTime), N'00000000', N'ACREDITADO')
INSERT [dbo].[ReporteJP86] ([NumeroReporte], [Patente_Vehiculo], [FechaHora], [DescripcionProblema], [Fuente], [Criticidad], [ModalidadReparacion], [DescripcionCierre], [FechaAcreditacion], [DNI_ResponsableCierre], [Estado]) VALUES (3, N'AB123CD', CAST(N'2026-09-10T21:33:01.750' AS DateTime), N'pincho rueda', N'CLIENTE', N'BAJA', N'INTERNA', N'rueda arreglada, cambio de cubierta', CAST(N'2026-09-10T21:34:08.410' AS DateTime), N'00000000', N'ACREDITADO')
SET IDENTITY_INSERT [dbo].[ReporteJP86] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles_64PR] ON 

INSERT [dbo].[Roles_64PR] ([ID_Rol], [Nombre]) VALUES (1, N'Basico')
INSERT [dbo].[Roles_64PR] ([ID_Rol], [Nombre]) VALUES (2, N'Administrador')
INSERT [dbo].[Roles_64PR] ([ID_Rol], [Nombre]) VALUES (3, N'Agente Comercial')
SET IDENTITY_INSERT [dbo].[Roles_64PR] OFF
GO
INSERT [dbo].[RolPatente_64PR] ([ID_Rol], [ID_Patente]) VALUES (2, 1)
INSERT [dbo].[RolPatente_64PR] ([ID_Rol], [ID_Patente]) VALUES (2, 2)
INSERT [dbo].[RolPatente_64PR] ([ID_Rol], [ID_Patente]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[TipoEvento_64PR] ON 

INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (1, N'Login exitoso')
INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (2, N'Cambio de clave')
INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (3, N'Login fallido')
SET IDENTITY_INSERT [dbo].[TipoEvento_64PR] OFF
GO
INSERT [dbo].[USUARIO_64PR] ([DNI], [Apellido], [Nombre], [Login], [Contraseña], [Rol], [Email], [Bloqueo], [Activo], [Intentos], [PrimeraVez], [Idioma]) VALUES (N'00000000', N'admin', N'admin', N'admin', 0x9BECE3951D133F985BF26F8F2C09499F6BFF426CE03896A649D09DE5BA6809955CCCF912308A6D1318C30EBB071026D0, 2, N'n5FBjHrHRuy7D+iU3r3VTmjZjkS/gGuwDZsmzaaPdBw=', 0, 1, 0, 0, N'es')
INSERT [dbo].[USUARIO_64PR] ([DNI], [Apellido], [Nombre], [Login], [Contraseña], [Rol], [Email], [Bloqueo], [Activo], [Intentos], [PrimeraVez], [Idioma]) VALUES (N'11111111', N'Basico', N'Basico', N'Basico.Basico', 0xF22E30064471E737E6FF27C3E97F40F04A46C3DE65C750DC1E170EB12C33FC7861664D30E791E58BFB2C1C11F943353D, 1, N'n0plF8Ls4pJfHIILLMuSh6QFZqu1ONc5XImrHv+8eEJYMIkL4t1hc1ceRrulBE93', 0, 1, 0, 0, N'es')
INSERT [dbo].[USUARIO_64PR] ([DNI], [Apellido], [Nombre], [Login], [Contraseña], [Rol], [Email], [Bloqueo], [Activo], [Intentos], [PrimeraVez], [Idioma]) VALUES (N'47255186', N'Pignataro', N'Julian', N'Julian.Pignataro', 0xBC6CC23181205DE9FD59E548530C5545D7F591DEF863394E78EC3782D7E494BEC2C54CCC9166AD86D98C900AFAC3F786, 3, N'H9xzPwgVwsA1zClpPWAjayyd4kBvHiNHU1x7A7YttAkS16AkJzE6Z67Jt4KFv4rQ', 0, 1, 0, 0, N'es')
GO
SET IDENTITY_INSERT [dbo].[Vehiculo_BitacoraCambios] ON 

INSERT [dbo].[Vehiculo_BitacoraCambios] ([IdBitacora], [Patente], [Marca], [Modelo], [ID_Categoria], [Kilometraje], [Estado], [Activo], [Fecha], [Hora], [Act]) VALUES (1, N'ABC123', N'Toyota', N'Corolla', 2, 13001, N'DISPONIBLE', 1, CAST(N'2026-09-11' AS Date), CAST(N'15:58:05' AS Time), 0)
INSERT [dbo].[Vehiculo_BitacoraCambios] ([IdBitacora], [Patente], [Marca], [Modelo], [ID_Categoria], [Kilometraje], [Estado], [Activo], [Fecha], [Hora], [Act]) VALUES (2, N'ABC123', N'Toyota', N'Corolla', 2, 13002, N'DISPONIBLE', 1, CAST(N'2026-09-11' AS Date), CAST(N'16:06:24' AS Time), 0)
INSERT [dbo].[Vehiculo_BitacoraCambios] ([IdBitacora], [Patente], [Marca], [Modelo], [ID_Categoria], [Kilometraje], [Estado], [Activo], [Fecha], [Hora], [Act]) VALUES (5, N'ABC123', N'Toyota', N'Corolla', 2, 13001, N'DISPONIBLE', 1, CAST(N'2026-09-11' AS Date), CAST(N'16:06:52' AS Time), 0)
SET IDENTITY_INSERT [dbo].[Vehiculo_BitacoraCambios] OFF
GO
INSERT [dbo].[VehiculoJP86] ([Patente], [Marca], [Modelo], [ID_Categoria], [Kilometraje], [Estado], [Activo]) VALUES (N'AB123CD', N'Bmw', N'Serie 3', 5, 5753, N'DISPONIBLE', 1)
INSERT [dbo].[VehiculoJP86] ([Patente], [Marca], [Modelo], [ID_Categoria], [Kilometraje], [Estado], [Activo]) VALUES (N'ABC123', N'Toyota', N'Corolla', 2, 13002, N'EN_REVISION', 0)
INSERT [dbo].[VehiculoJP86] ([Patente], [Marca], [Modelo], [ID_Categoria], [Kilometraje], [Estado], [Activo]) VALUES (N'AD123PO', N'Ford', N'Kuga', 1, 87008, N'DISPONIBLE', 1)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Categoria_Nombre] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Categoria_64PR] ADD  CONSTRAINT [UQ_Categoria_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_FacturaJP86_Contrato] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[FacturaJP86] ADD  CONSTRAINT [UQ_FacturaJP86_Contrato] UNIQUE NONCLUSTERED 
(
	[NumeroContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF03BABADA] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF0B124080] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF41B48B16] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF52E54EE7] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF6647CCE8] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF6CA381CA] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF8557F54E] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF8DCDE625] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF9A42C7C0] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFA90D677E] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFE7140EDB] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCFF8FF973E] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B1ABDD653] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B1CA49FB7] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B2171E542] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B22A1E8F0] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B3557C719] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B482B2360] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B4D975DDD] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B4F834CB8] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825B6BB987C2] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825BA2EBE124] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825BCE25049D] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825BEE974CB4] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D1053414985554] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105341803A651] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D1053429DC4911] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105342B9CF9E8] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105342C983392] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105347EADDACF] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105348AE47831] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105348DC1515A] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534AD1214B9] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534B14B5C90] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534C8DE55BB] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D10534EF8DC08F] Fecha de script: 28/9/2026 10:07:29 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UX_VehiculoBitacoraCambios_Act] Fecha de script: 28/9/2026 10:07:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_VehiculoBitacoraCambios_Act] ON [dbo].[Vehiculo_BitacoraCambios]
(
	[Patente] ASC
)
WHERE ([Act]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria_64PR] ADD  CONSTRAINT [DF_Categoria_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ClienteJP86] ADD  CONSTRAINT [DF_ClienteJP86_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ContratoJP86] ADD  CONSTRAINT [DF_ContratoJP86_CargosAdicionales]  DEFAULT ((0)) FOR [CargosAdicionales]
GO
ALTER TABLE [dbo].[ContratoJP86] ADD  CONSTRAINT [DF_ContratoJP86_Estado]  DEFAULT ('ACTIVO') FOR [Estado]
GO
ALTER TABLE [dbo].[Evento_64PR] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[Evento_64PR] ADD  CONSTRAINT [DF_Bitacora_Hora]  DEFAULT (CONVERT([time],getdate())) FOR [Hora]
GO
ALTER TABLE [dbo].[FacturaJP86] ADD  CONSTRAINT [DF_FacturaJP86_FechaFactura]  DEFAULT (getdate()) FOR [FechaFactura]
GO
ALTER TABLE [dbo].[ReporteJP86] ADD  CONSTRAINT [DF_ReporteJP86_Estado]  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((0)) FOR [Bloqueo]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((1)) FOR [PrimeraVez]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[Vehiculo_BitacoraCambios] ADD  CONSTRAINT [DF_VehiculoBitacoraCambios_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[Vehiculo_BitacoraCambios] ADD  CONSTRAINT [DF_VehiculoBitacoraCambios_Hora]  DEFAULT (CONVERT([time](0),getdate())) FOR [Hora]
GO
ALTER TABLE [dbo].[Vehiculo_BitacoraCambios] ADD  CONSTRAINT [DF_VehiculoBitacoraCambios_Act]  DEFAULT ((1)) FOR [Act]
GO
ALTER TABLE [dbo].[VehiculoJP86] ADD  CONSTRAINT [DF_VehiculoJP86_Estado]  DEFAULT ('DISPONIBLE') FOR [Estado]
GO
ALTER TABLE [dbo].[VehiculoJP86] ADD  CONSTRAINT [DF_VehiculoJP86_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [FK_ContratoJP86_Cliente] FOREIGN KEY([DNI_Cliente])
REFERENCES [dbo].[ClienteJP86] ([DNI])
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [FK_ContratoJP86_Cliente]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [FK_ContratoJP86_Vehiculo] FOREIGN KEY([Patente_Vehiculo])
REFERENCES [dbo].[VehiculoJP86] ([Patente])
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [FK_ContratoJP86_Vehiculo]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Evento] FOREIGN KEY([Id_Tipo])
REFERENCES [dbo].[TipoEvento_64PR] ([Id_tipo])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Evento]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Modulo] FOREIGN KEY([Id_modulo])
REFERENCES [dbo].[Modulo_64PR] ([Id_modulo])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Modulo]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Login])
REFERENCES [dbo].[USUARIO_64PR] ([Login])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[FacturaJP86]  WITH CHECK ADD  CONSTRAINT [FK_FacturaJP86_Contrato] FOREIGN KEY([NumeroContrato])
REFERENCES [dbo].[ContratoJP86] ([NumeroContrato])
GO
ALTER TABLE [dbo].[FacturaJP86] CHECK CONSTRAINT [FK_FacturaJP86_Contrato]
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaN_Hija] FOREIGN KEY([ID_FamiliaHija])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_N_64PR] CHECK CONSTRAINT [FK_FamiliaN_Hija]
GO
ALTER TABLE [dbo].[Familia_N_64PR]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaN_Padre] FOREIGN KEY([ID_FamiliaPadre])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Familia_N_64PR] CHECK CONSTRAINT [FK_FamiliaN_Padre]
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR]  WITH CHECK ADD  CONSTRAINT [FK_PatenteFamilia_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatenteFamilia_64PR] CHECK CONSTRAINT [FK_PatenteFamilia_Familia]
GO
ALTER TABLE [dbo].[ReporteJP86]  WITH CHECK ADD  CONSTRAINT [FK_ReporteJP86_USUARIO_64PR] FOREIGN KEY([DNI_ResponsableCierre])
REFERENCES [dbo].[USUARIO_64PR] ([DNI])
GO
ALTER TABLE [dbo].[ReporteJP86] CHECK CONSTRAINT [FK_ReporteJP86_USUARIO_64PR]
GO
ALTER TABLE [dbo].[ReporteJP86]  WITH CHECK ADD  CONSTRAINT [FK_ReporteJP86_VehiculoJP86] FOREIGN KEY([Patente_Vehiculo])
REFERENCES [dbo].[VehiculoJP86] ([Patente])
GO
ALTER TABLE [dbo].[ReporteJP86] CHECK CONSTRAINT [FK_ReporteJP86_VehiculoJP86]
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia_64PR] ([ID_Familia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia_64PR] CHECK CONSTRAINT [FK_RolFamilia_Familia]
GO
ALTER TABLE [dbo].[RolFamilia_64PR]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia_64PR] CHECK CONSTRAINT [FK_RolFamilia_Rol]
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente_64PR] ([ID_Patente])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[RolPatente_64PR]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Rol] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente_64PR] CHECK CONSTRAINT [FK_RolPatente_Rol]
GO
ALTER TABLE [dbo].[USUARIO_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([Rol])
REFERENCES [dbo].[Roles_64PR] ([ID_Rol])
GO
ALTER TABLE [dbo].[USUARIO_64PR] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Vehiculo_BitacoraCambios]  WITH CHECK ADD  CONSTRAINT [FK_VehiculoBitacoraCambios_VehiculoJP86] FOREIGN KEY([Patente])
REFERENCES [dbo].[VehiculoJP86] ([Patente])
GO
ALTER TABLE [dbo].[Vehiculo_BitacoraCambios] CHECK CONSTRAINT [FK_VehiculoBitacoraCambios_VehiculoJP86]
GO
ALTER TABLE [dbo].[VehiculoJP86]  WITH CHECK ADD  CONSTRAINT [FK_VehiculoJP86_Categoria] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria_64PR] ([ID_Categoria])
GO
ALTER TABLE [dbo].[VehiculoJP86] CHECK CONSTRAINT [FK_VehiculoJP86_Categoria]
GO
ALTER TABLE [dbo].[Categoria_64PR]  WITH CHECK ADD  CONSTRAINT [CK_Categoria_TarifaDiaria] CHECK  (([TarifaDiaria]>(0)))
GO
ALTER TABLE [dbo].[Categoria_64PR] CHECK CONSTRAINT [CK_Categoria_TarifaDiaria]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [CK_ContratoJP86_Estado] CHECK  (([Estado]='ACTIVO' OR [Estado]='FACTURADO' OR [Estado]='CERRADO'))
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [CK_ContratoJP86_Estado]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [CK_ContratoJP86_EstadoUnidadDevolucion] CHECK  (([EstadoUnidadDevolucion] IS NULL OR [EstadoUnidadDevolucion]='SIN_NOVEDADES' OR [EstadoUnidadDevolucion]='CON_OBSERVACIONES'))
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [CK_ContratoJP86_EstadoUnidadDevolucion]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [CK_ContratoJP86_Fechas] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [CK_ContratoJP86_Fechas]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [CK_ContratoJP86_ImporteTotal] CHECK  (([ImporteTotal]>(0)))
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [CK_ContratoJP86_ImporteTotal]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [CK_ContratoJP86_KilometrajeEntrega] CHECK  (([KilometrajeEntrega]>=(0)))
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [CK_ContratoJP86_KilometrajeEntrega]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [CK_ContratoJP86_KilometrajeRetorno] CHECK  (([KilometrajeRetorno] IS NULL OR [KilometrajeRetorno]>=[KilometrajeEntrega]))
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [CK_ContratoJP86_KilometrajeRetorno]
GO
ALTER TABLE [dbo].[ContratoJP86]  WITH CHECK ADD  CONSTRAINT [CK_ContratoJP86_TarifaDiaria] CHECK  (([TarifaDiaria]>(0)))
GO
ALTER TABLE [dbo].[ContratoJP86] CHECK CONSTRAINT [CK_ContratoJP86_TarifaDiaria]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
ALTER TABLE [dbo].[FacturaJP86]  WITH CHECK ADD  CONSTRAINT [CK_FacturaJP86_MetodoPago] CHECK  (([MetodoPago]='EFECTIVO' OR [MetodoPago]='TARJETA' OR [MetodoPago]='TRANSFERENCIA' OR [MetodoPago]='MERCADOPAGO'))
GO
ALTER TABLE [dbo].[FacturaJP86] CHECK CONSTRAINT [CK_FacturaJP86_MetodoPago]
GO
ALTER TABLE [dbo].[FacturaJP86]  WITH CHECK ADD  CONSTRAINT [CK_FacturaJP86_MontoFactura] CHECK  (([MontoFactura]>(0)))
GO
ALTER TABLE [dbo].[FacturaJP86] CHECK CONSTRAINT [CK_FacturaJP86_MontoFactura]
GO
ALTER TABLE [dbo].[ReporteJP86]  WITH CHECK ADD  CONSTRAINT [CK_ReporteJP86_Criticidad] CHECK  (([Criticidad] IS NULL OR ([Criticidad]='CRITICA' OR [Criticidad]='ALTA' OR [Criticidad]='MEDIA' OR [Criticidad]='BAJA')))
GO
ALTER TABLE [dbo].[ReporteJP86] CHECK CONSTRAINT [CK_ReporteJP86_Criticidad]
GO
ALTER TABLE [dbo].[ReporteJP86]  WITH CHECK ADD  CONSTRAINT [CK_ReporteJP86_Estado] CHECK  (([Estado]='ACREDITADO' OR [Estado]='EN_REPARACION' OR [Estado]='CLASIFICADO' OR [Estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[ReporteJP86] CHECK CONSTRAINT [CK_ReporteJP86_Estado]
GO
ALTER TABLE [dbo].[ReporteJP86]  WITH CHECK ADD  CONSTRAINT [CK_ReporteJP86_Fuente] CHECK  (([Fuente]='INSPECCION_INTERNA' OR [Fuente]='CLIENTE'))
GO
ALTER TABLE [dbo].[ReporteJP86] CHECK CONSTRAINT [CK_ReporteJP86_Fuente]
GO
ALTER TABLE [dbo].[ReporteJP86]  WITH CHECK ADD  CONSTRAINT [CK_ReporteJP86_ModalidadReparacion] CHECK  (([ModalidadReparacion] IS NULL OR ([ModalidadReparacion]='EXTERNA' OR [ModalidadReparacion]='INTERNA')))
GO
ALTER TABLE [dbo].[ReporteJP86] CHECK CONSTRAINT [CK_ReporteJP86_ModalidadReparacion]
GO
ALTER TABLE [dbo].[VehiculoJP86]  WITH CHECK ADD  CONSTRAINT [CK_VehiculoJP86_Estado] CHECK  (([Estado]='EN_REVISION' OR [Estado]='ALQUILADO' OR [Estado]='DISPONIBLE' OR [Estado]='EN_REPARACION'))
GO
ALTER TABLE [dbo].[VehiculoJP86] CHECK CONSTRAINT [CK_VehiculoJP86_Estado]
GO
ALTER TABLE [dbo].[VehiculoJP86]  WITH CHECK ADD  CONSTRAINT [CK_VehiculoJP86_Kilometraje] CHECK  (([Kilometraje]>=(0)))
GO
ALTER TABLE [dbo].[VehiculoJP86] CHECK CONSTRAINT [CK_VehiculoJP86_Kilometraje]
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categoria_ActDesact] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_Categoria_ActDesact]
      @Id INT
  AS
  BEGIN
      SET NOCOUNT ON;
      UPDATE Categoria_64PR
      SET Activo = Activo ^ 1
      WHERE ID_Categoria = @Id;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categoria_Crear] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categoria_Crear]
      @Nombre VARCHAR(100),
      @Descripcion VARCHAR(255) = NULL,
      @TarifaDiaria DECIMAL(10,2)
  AS
  BEGIN
      SET NOCOUNT ON;
      INSERT INTO Categoria_64PR (Nombre, Descripcion, TarifaDiaria, Activo)
      VALUES (@Nombre, @Descripcion, @TarifaDiaria, 1);
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categoria_Listar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categoria_Listar]
  AS
  BEGIN
      SET NOCOUNT ON;
      SELECT ID_Categoria, Nombre, Descripcion, TarifaDiaria, Activo
      FROM Categoria_64PR;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_Categoria_Modificar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categoria_Modificar]
      @Id INT,
      @Nombre VARCHAR(100),
      @Descripcion VARCHAR(255) = NULL,
      @TarifaDiaria DECIMAL(10,2)
  AS
  BEGIN
      SET NOCOUNT ON;
      UPDATE Categoria_64PR
      SET Nombre = @Nombre,
          Descripcion = @Descripcion,
          TarifaDiaria = @TarifaDiaria
      WHERE ID_Categoria = @Id;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ClienteJP86_ActDesact] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_ClienteJP86_ActDesact]
      @DNI NVARCHAR(20)
  AS
  BEGIN
      SET NOCOUNT ON;
      UPDATE ClienteJP86
      SET Activo = Activo ^ 1
      WHERE DNI = @DNI;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ClienteJP86_Crear] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_ClienteJP86_Crear]
      @DNI NVARCHAR(20),
      @Nombre NVARCHAR(100),
      @Apellido NVARCHAR(100),
      @Telefono NVARCHAR(20)
  AS
  BEGIN
      SET NOCOUNT ON;
      INSERT INTO ClienteJP86 (DNI, Nombre, Apellido, Telefono, Activo)
      VALUES (@DNI, @Nombre, @Apellido, @Telefono, 1);
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ClienteJP86_ExisteDNI] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ClienteJP86_ExisteDNI]
    @DNI NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CASE WHEN EXISTS (SELECT 1 FROM ClienteJP86 WHERE DNI = @DNI) THEN 1 ELSE 0 END AS Existe;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ClienteJP86_Listar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ClienteJP86_Listar]
  AS
  BEGIN
      SET NOCOUNT ON;
      SELECT DNI, Nombre, Apellido, Telefono, Activo
      FROM ClienteJP86;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ClienteJP86_Modificar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_ClienteJP86_Modificar]
      @DNI NVARCHAR(20),
      @Nombre NVARCHAR(100),
      @Apellido NVARCHAR(100),
      @Telefono NVARCHAR(20)
  AS
  BEGIN
      SET NOCOUNT ON;
      UPDATE ClienteJP86
      SET Nombre = @Nombre,
          Apellido = @Apellido,
          Telefono = @Telefono
      WHERE DNI = @DNI;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ContratoJP86_BuscarUnidadesDisponibles] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ContratoJP86_BuscarUnidadesDisponibles]
    @ID_Categoria INT = NULL,
    @Marca NVARCHAR(50) = NULL,
    @KilometrajeMaximo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT v.Patente, v.Marca, v.Modelo, v.ID_Categoria, v.Kilometraje, v.Estado, v.Activo,
           c.Nombre AS CategoriaNombre, c.TarifaDiaria
    FROM VehiculoJP86 v
    INNER JOIN Categoria_64PR c ON c.ID_Categoria = v.ID_Categoria
    WHERE v.Estado = 'DISPONIBLE' AND v.Activo = 1
      AND (@ID_Categoria IS NULL OR v.ID_Categoria = @ID_Categoria)
      AND (@Marca IS NULL OR v.Marca LIKE '%' + @Marca + '%')
      AND (@KilometrajeMaximo IS NULL OR v.Kilometraje <= @KilometrajeMaximo);
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ContratoJP86_CerrarPorDevolucion] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ContratoJP86_CerrarPorDevolucion]
    @NumeroContrato INT,
    @KilometrajeRetorno INT,
    @EstadoUnidadDevolucion VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE ContratoJP86
    SET KilometrajeRetorno = @KilometrajeRetorno,
        EstadoUnidadDevolucion = @EstadoUnidadDevolucion,
        Estado = 'CERRADO'
    WHERE NumeroContrato = @NumeroContrato AND Estado = 'FACTURADO';

    SELECT @@ROWCOUNT AS FilasAfectadas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ContratoJP86_Crear] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ContratoJP86_Crear]
    @DNI_Cliente NVARCHAR(20),
    @Patente_Vehiculo NVARCHAR(10),
    @FechaInicio DATE,
    @FechaFin DATE,
    @TarifaDiaria DECIMAL(10,2),
    @CargosAdicionales BIT,
    @ImporteTotal DECIMAL(10,2),
    @KilometrajeEntrega INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    DECLARE @NumeroContrato INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1) Primero se toma el lock sobre el vehículo: serializa altas concurrentes de la misma unidad
        IF NOT EXISTS (SELECT 1 FROM VehiculoJP86 WITH (UPDLOCK, HOLDLOCK)
                       WHERE Patente = @Patente_Vehiculo AND Estado = 'DISPONIBLE' AND Activo = 1)
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT CAST(0 AS INT) AS NumeroContrato;
            RETURN;
        END

        -- 2) Con el lock tomado: ningún contrato vigente sobre la unidad y cliente activo
        IF EXISTS (SELECT 1 FROM ContratoJP86
                   WHERE Patente_Vehiculo = @Patente_Vehiculo AND Estado IN ('ACTIVO', 'FACTURADO'))
           OR NOT EXISTS (SELECT 1 FROM ClienteJP86 WHERE DNI = @DNI_Cliente AND Activo = 1)
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT CAST(0 AS INT) AS NumeroContrato;
            RETURN;
        END

        INSERT INTO ContratoJP86 (DNI_Cliente, Patente_Vehiculo, FechaInicio, FechaFin, TarifaDiaria,
                                  CargosAdicionales, ImporteTotal, KilometrajeEntrega, Estado)
        VALUES (@DNI_Cliente, @Patente_Vehiculo, @FechaInicio, @FechaFin, @TarifaDiaria,
                @CargosAdicionales, @ImporteTotal, @KilometrajeEntrega, 'ACTIVO');

        SET @NumeroContrato = CAST(SCOPE_IDENTITY() AS INT);
        COMMIT TRANSACTION;
        SELECT @NumeroContrato AS NumeroContrato;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ContratoJP86_ExisteAbiertoPorCliente] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ContratoJP86_ExisteAbiertoPorCliente]
      @DNI_Cliente NVARCHAR(20)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT CASE WHEN EXISTS (
              SELECT 1 FROM ContratoJP86
              WHERE DNI_Cliente = @DNI_Cliente AND Estado IN ('ACTIVO', 'FACTURADO')
      ) THEN 1 ELSE 0 END
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ContratoJP86_ExisteActivoPorVehiculo] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ContratoJP86_ExisteActivoPorVehiculo]
      @Patente_Vehiculo NVARCHAR(10)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT CASE WHEN EXISTS (
              SELECT 1 FROM ContratoJP86
              WHERE Patente_Vehiculo = @Patente_Vehiculo AND Estado IN ('ACTIVO', 'FACTURADO')
      ) THEN 1 ELSE 0 END
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ContratoJP86_ListarActivos] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ContratoJP86_ListarActivos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.NumeroContrato, c.DNI_Cliente, cl.Nombre AS ClienteNombre, cl.Apellido AS ClienteApellido, cl.Telefono AS ClienteTelefono, cl.Activo AS ClienteActivo,
           c.Patente_Vehiculo, v.Marca, v.Modelo, v.ID_Categoria, cat.Nombre AS CategoriaNombre, cat.TarifaDiaria AS CategoriaTarifaDiaria,
           v.Kilometraje AS VehiculoKilometraje, v.Estado AS VehiculoEstado, v.Activo AS VehiculoActivo,
           c.FechaInicio, c.FechaFin, c.TarifaDiaria, c.CargosAdicionales, c.ImporteTotal, c.KilometrajeEntrega, c.KilometrajeRetorno, c.EstadoUnidadDevolucion, c.Estado
    FROM ContratoJP86 c
    INNER JOIN ClienteJP86 cl ON cl.DNI = c.DNI_Cliente
    INNER JOIN VehiculoJP86 v ON v.Patente = c.Patente_Vehiculo
    INNER JOIN Categoria_64PR cat ON cat.ID_Categoria = v.ID_Categoria
    WHERE c.Estado = 'ACTIVO';
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ContratoJP86_ListarFacturados] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ContratoJP86_ListarFacturados]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.NumeroContrato, c.DNI_Cliente, cl.Nombre AS ClienteNombre, cl.Apellido AS ClienteApellido, cl.Telefono AS ClienteTelefono, cl.Activo AS ClienteActivo,
           c.Patente_Vehiculo, v.Marca, v.Modelo, v.ID_Categoria, cat.Nombre AS CategoriaNombre, cat.TarifaDiaria AS CategoriaTarifaDiaria,
           v.Kilometraje AS VehiculoKilometraje, v.Estado AS VehiculoEstado, v.Activo AS VehiculoActivo,
           c.FechaInicio, c.FechaFin, c.TarifaDiaria, c.CargosAdicionales, c.ImporteTotal, c.KilometrajeEntrega, c.KilometrajeRetorno, c.EstadoUnidadDevolucion, c.Estado
    FROM ContratoJP86 c
    INNER JOIN ClienteJP86 cl ON cl.DNI = c.DNI_Cliente
    INNER JOIN VehiculoJP86 v ON v.Patente = c.Patente_Vehiculo
    INNER JOIN Categoria_64PR cat ON cat.ID_Categoria = v.ID_Categoria
    WHERE c.Estado = 'FACTURADO';
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_FacturaJP86_Crear] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FacturaJP86_Crear]
    @NumeroContrato INT,
    @MetodoPago VARCHAR(20),
    @MontoFactura DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    DECLARE @NumeroFactura INT;

    BEGIN TRANSACTION
    BEGIN TRY
        UPDATE ContratoJP86
        SET Estado = 'FACTURADO'
        WHERE NumeroContrato = @NumeroContrato AND Estado = 'ACTIVO';

        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT CAST(0 AS INT) AS NumeroFactura;
            RETURN;
        END

        INSERT INTO FacturaJP86 (NumeroContrato, FechaFactura, MetodoPago, MontoFactura)
        VALUES (@NumeroContrato, GETDATE(), @MetodoPago, @MontoFactura);

        SET @NumeroFactura = CAST(SCOPE_IDENTITY() AS INT);
        COMMIT TRANSACTION;
        SELECT @NumeroFactura AS NumeroFactura;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_Acreditar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_Acreditar]
	@NumeroReporte INT,
	@DescripcionCierre NVARCHAR(500),
	@DNI_ResponsableCierre NVARCHAR(20)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Patente NVARCHAR(10)

	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE ReporteJP86
		SET DescripcionCierre = @DescripcionCierre,
		    FechaAcreditacion = GETDATE(),
		    DNI_ResponsableCierre = @DNI_ResponsableCierre,
		    Estado = 'ACREDITADO'
		WHERE NumeroReporte = @NumeroReporte AND Estado = 'EN_REPARACION'

		IF @@ROWCOUNT = 0
		BEGIN
			ROLLBACK TRANSACTION
			RETURN
		END

		SELECT @Patente = Patente_Vehiculo FROM ReporteJP86 WHERE NumeroReporte = @NumeroReporte

		UPDATE VehiculoJP86 SET Estado = 'DISPONIBLE' WHERE Patente = @Patente

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
		THROW
	END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_AsignarCriticidad] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_AsignarCriticidad]
	@NumeroReporte INT,
	@Criticidad VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE ReporteJP86
	SET Criticidad = @Criticidad, Estado = 'CLASIFICADO'
	WHERE NumeroReporte = @NumeroReporte AND Estado = 'PENDIENTE'
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_Crear] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_Crear]
	@Patente_Vehiculo NVARCHAR(10),
	@DescripcionProblema NVARCHAR(500),
	@Fuente VARCHAR(20)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO ReporteJP86 (Patente_Vehiculo, FechaHora, DescripcionProblema, Fuente, Estado)
	VALUES (@Patente_Vehiculo, GETDATE(), @DescripcionProblema, @Fuente, 'PENDIENTE')
	SELECT SCOPE_IDENTITY()
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_DeterminarModalidad] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_DeterminarModalidad]
	@NumeroReporte INT,
	@ModalidadReparacion VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Patente NVARCHAR(10)

	BEGIN TRANSACTION
	BEGIN TRY
		UPDATE ReporteJP86
		SET ModalidadReparacion = @ModalidadReparacion, Estado = 'EN_REPARACION'
		WHERE NumeroReporte = @NumeroReporte AND Estado = 'CLASIFICADO'

		IF @@ROWCOUNT = 0
		BEGIN
			ROLLBACK TRANSACTION
			RETURN
		END

		SELECT @Patente = Patente_Vehiculo FROM ReporteJP86 WHERE NumeroReporte = @NumeroReporte

		UPDATE VehiculoJP86 SET Estado = 'EN_REPARACION' WHERE Patente = @Patente

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
		THROW
	END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_ExisteAbiertoPorVehiculo] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_ExisteAbiertoPorVehiculo]
	@Patente_Vehiculo NVARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT CASE WHEN EXISTS (
		SELECT 1 FROM ReporteJP86
		WHERE Patente_Vehiculo = @Patente_Vehiculo AND Estado IN ('PENDIENTE','CLASIFICADO','EN_REPARACION')
	) THEN 1 ELSE 0 END
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_ListarEnReparacion] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_ListarEnReparacion]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT r.NumeroReporte, r.Patente_Vehiculo, v.Marca, v.Modelo, v.ID_Categoria,
	       c.Nombre AS CategoriaNombre, c.TarifaDiaria, v.Kilometraje AS VehiculoKilometraje,
	       v.Estado AS VehiculoEstado, v.Activo AS VehiculoActivo,
	       r.FechaHora, r.DescripcionProblema, r.Fuente, r.Criticidad, r.ModalidadReparacion,
	       r.DescripcionCierre, r.FechaAcreditacion, r.DNI_ResponsableCierre, r.Estado
	FROM ReporteJP86 r
	INNER JOIN VehiculoJP86 v ON v.Patente = r.Patente_Vehiculo
	INNER JOIN Categoria_64PR c ON c.ID_Categoria = v.ID_Categoria
	WHERE r.Estado = 'EN_REPARACION'
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_ListarPendientes] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_ListarPendientes]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT r.NumeroReporte, r.Patente_Vehiculo, v.Marca, v.Modelo, v.ID_Categoria,
	       c.Nombre AS CategoriaNombre, c.TarifaDiaria, v.Kilometraje AS VehiculoKilometraje,
	       v.Estado AS VehiculoEstado, v.Activo AS VehiculoActivo,
	       r.FechaHora, r.DescripcionProblema, r.Fuente, r.Criticidad, r.ModalidadReparacion,
	       r.DescripcionCierre, r.FechaAcreditacion, r.DNI_ResponsableCierre, r.Estado
	FROM ReporteJP86 r
	INNER JOIN VehiculoJP86 v ON v.Patente = r.Patente_Vehiculo
	INNER JOIN Categoria_64PR c ON c.ID_Categoria = v.ID_Categoria
	WHERE r.Estado = 'PENDIENTE'
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_ListarPorVehiculo] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_ListarPorVehiculo]
	@Patente_Vehiculo NVARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT r.NumeroReporte, r.Patente_Vehiculo, v.Marca, v.Modelo, v.ID_Categoria,
	       c.Nombre AS CategoriaNombre, c.TarifaDiaria, v.Kilometraje AS VehiculoKilometraje,
	       v.Estado AS VehiculoEstado, v.Activo AS VehiculoActivo,
	       r.FechaHora, r.DescripcionProblema, r.Fuente, r.Criticidad, r.ModalidadReparacion,
	       r.DescripcionCierre, r.FechaAcreditacion, r.DNI_ResponsableCierre, r.Estado
	FROM ReporteJP86 r
	INNER JOIN VehiculoJP86 v ON v.Patente = r.Patente_Vehiculo
	INNER JOIN Categoria_64PR c ON c.ID_Categoria = v.ID_Categoria
	WHERE r.Patente_Vehiculo = @Patente_Vehiculo
	ORDER BY r.FechaHora DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_ReporteJP86_ListarVehiculosEnRevision] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteJP86_ListarVehiculosEnRevision]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT v.Patente, v.Marca, v.Modelo, v.ID_Categoria,
	       c.Nombre AS CategoriaNombre, c.TarifaDiaria,
	       v.Kilometraje, v.Estado, v.Activo
	FROM VehiculoJP86 v
	INNER JOIN Categoria_64PR c ON c.ID_Categoria = v.ID_Categoria
	WHERE v.Estado = 'EN_REVISION'
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoBitacoraCambios_Activar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_VehiculoBitacoraCambios_Activar]
    @IdBitacora INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM [dbo].[Vehiculo_BitacoraCambios] WHERE IdBitacora = @IdBitacora)
    BEGIN
        RAISERROR('IdBitacora inexistente.', 16, 1);
        RETURN;
    END

    -- UPDATE normal sobre VehiculoJP86: dispara TR_VehiculoJP86_Modificacion,
    -- que crea la nueva fila vigente en la bitacora. Nunca se edita la fila historica.
    UPDATE v
    SET v.Marca        = bc.Marca,
        v.Modelo       = bc.Modelo,
        v.ID_Categoria = bc.ID_Categoria,
        v.Kilometraje  = bc.Kilometraje,
        v.Estado       = bc.Estado,
        v.Activo       = bc.Activo
    FROM [dbo].[VehiculoJP86] v
    INNER JOIN [dbo].[Vehiculo_BitacoraCambios] bc ON bc.Patente = v.Patente
    WHERE bc.IdBitacora = @IdBitacora;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoBitacoraCambios_Listar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_VehiculoBitacoraCambios_Listar]
    @Patente     NVARCHAR(10) = NULL,
    @MarcaModelo NVARCHAR(50) = NULL,
    @FechaIni    DATE = NULL,
    @FechaFin    DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        bc.IdBitacora, bc.Patente, bc.Marca, bc.Modelo, bc.ID_Categoria,
        bc.Kilometraje, bc.Estado, bc.Activo, bc.Fecha, bc.Hora, bc.Act
    FROM [dbo].[Vehiculo_BitacoraCambios] bc
    WHERE (@Patente IS NULL OR bc.Patente = @Patente)
      AND (@MarcaModelo IS NULL OR bc.Marca LIKE '%' + @MarcaModelo + '%' OR bc.Modelo LIKE '%' + @MarcaModelo + '%')
      AND (@FechaIni IS NULL OR bc.Fecha >= @FechaIni)
      AND (@FechaFin IS NULL OR bc.Fecha <= @FechaFin)
    ORDER BY bc.Patente, bc.Fecha DESC, bc.Hora DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoJP86_ActDesact] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VehiculoJP86_ActDesact]
      @Patente NVARCHAR(10)
  AS
  BEGIN
      SET NOCOUNT ON;
      UPDATE VehiculoJP86
      SET Activo = Activo ^ 1
      WHERE Patente = @Patente;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoJP86_CambiarEstado] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VehiculoJP86_CambiarEstado]
    @Patente NVARCHAR(10),
    @Estado VARCHAR(20),
    @Kilometraje INT = NULL,
    @Activo BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE VehiculoJP86
    SET Estado = @Estado,
        Kilometraje = ISNULL(@Kilometraje, Kilometraje),
        Activo = ISNULL(@Activo, Activo)
    WHERE Patente = @Patente;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoJP86_Crear] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VehiculoJP86_Crear]
      @Patente NVARCHAR(10),
      @Marca NVARCHAR(50),
      @Modelo NVARCHAR(50),
      @ID_Categoria INT,
      @Kilometraje INT
  AS
  BEGIN
      SET NOCOUNT ON;
      INSERT INTO VehiculoJP86 (Patente, Marca, Modelo, ID_Categoria, Kilometraje, Estado, Activo)
      VALUES (@Patente, @Marca, @Modelo, @ID_Categoria, @Kilometraje, 'DISPONIBLE', 1);
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoJP86_ExistePorCategoria] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VehiculoJP86_ExistePorCategoria]
      @ID_Categoria INT
AS
BEGIN
      SET NOCOUNT ON;
      SELECT CASE WHEN EXISTS (
              SELECT 1 FROM VehiculoJP86
              WHERE ID_Categoria = @ID_Categoria
                AND Activo = 1          -- ver pregunta abajo
      ) THEN 1 ELSE 0 END
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoJP86_Listar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VehiculoJP86_Listar]
  AS
  BEGIN
      SET NOCOUNT ON;
      SELECT v.Patente, v.Marca, v.Modelo, v.ID_Categoria, v.Kilometraje, v.Estado, v.Activo,
             c.Nombre AS CategoriaNombre, c.TarifaDiaria
      FROM VehiculoJP86 v
      INNER JOIN Categoria_64PR c ON c.ID_Categoria = v.ID_Categoria;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoJP86_Modificar] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VehiculoJP86_Modificar]
      @Patente NVARCHAR(10),
      @Marca NVARCHAR(50),
      @Modelo NVARCHAR(50),
      @ID_Categoria INT,
      @Kilometraje INT
  AS
  BEGIN
      SET NOCOUNT ON;
      UPDATE VehiculoJP86
      SET Marca = @Marca,
          Modelo = @Modelo,
          ID_Categoria = @ID_Categoria,
          Kilometraje = @Kilometraje
      WHERE Patente = @Patente;
  END
GO
/****** Objeto: StoredProcedure [dbo].[SP_VehiculoJP86_ObtenerEstado] Fecha de script: 28/9/2026 10:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VehiculoJP86_ObtenerEstado]
	@Patente NVARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT Estado FROM VehiculoJP86 WHERE Patente = @Patente
END
GO
USE [master]
GO
